@page
@model ZamApp.Pages.Courses.GetAllCoursesModel
@using Microsoft.AspNet.Identity
@{
	var id = User.Identity.GetUserId();
}

<p>
	<a asp-page="/Courses/Create">Create new Course</a>
</p>

<h4 style="color: seagreen">List of courses</h4>


<div class="container">
	<div class="row">
		@foreach (var p in Model.Courses)
		{
			<div class="col-sm">
				<div class="card" style="width: 30rem;">
					<img class="card-img-top" src="~/img/Zealand.jpg" alt="Card image cap">
					<div class="card-body">
						<h5 class="card-title">Zealand Location: @p.ZealandLocation</h5>
						<p class="card-text">Startpoint: @p.StartPoint</p>
						<p class="card-text">Endpoint: @p.EndPoint</p>
						<p class="card-text">Driver: @p.UserId</p>
						<a asp-page="Detail" asp-route-id="@p.CourseId" class="btn btn-primary">More information</a>
						<a asp-page="/Courses/Registration" asp-route-cid="@p.UserId">Show courses</a>
						<a asp-page="Delete" asp-route-id="@p.CourseId" class="btn btn-danger m-1">Delete</a>
					</div>
				</div>
				<br />
			</div>
		}
	</div>
</div>